__pycache__/
*.py[cod]
.venv/
.tmp/
venv/
env/
tem_env/
.pytest_cache/
.mypy_cache/
dist/
build/
*.spec
*.egg-info/
.env
*.png
*.jpg
*.jpeg
*.gif
!assets/
!assets/*.ico
!assets/*.png
*:Zone.Identifier
data/*
outputs/*
!data/.gitkeep
!outputs/.gitkeep
old_stuff/
